/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
    padding: 10px;
    text-align: center;
    position: relative;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.product-image {
    width: 100%;
    border-radius: 10px;
}


.product-image
.sale-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background: green;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
}

.wishlist-share {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    display: none;
}

.wishlist-share button {
    background: white;
    border: none;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.product-title {
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.5s all;
}

.product-title:hover {
    color: green;
}

.price {
    font-size: 18px;
    color: red;
}

.original-price {
    text-decoration: line-through;
    color: gray;
}

.stock {
    color: green;
    font-size: 14px;
} */

.collection-item {
    text-align: center;
    padding: 10px;
}

.collection-item img {
    width: 100%;
    max-width: 120px;
    height: auto;
    border-radius: 50%;
}

.slider-container {
    padding: 20px;
}

.slick-prev,
.slick-next {
    background-color: #000;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}